form {
  padding: 0px;
  margin: 0px;
  margin: -40px 0px;
  margin-bottom: -80px;
}

input[type=text], input[type=email] {
  background-color: rgba(0,0,0,0.3);
  border: 2px solid white;
  font-size: 14px;
  padding: 10px;
  border-radius: 4px;
  color: white;
  transition: background 1s;
  outline: none;
  -webkit-font-smoothing: antialiased;
  width: 210px;
  font-family: 'Montserrat', sans-serif;

  &:focus {
    background-color: #000;
    background-color: rgba(0,0,0,0.8);
  }
}

button[type=submit] {
  background-color: #fff;
  color: #070303;
  border: 0px;
  -webkit-appearance: none;
  font-size: 14px;
  padding: 9px 13px;
  margin-left: 8px;
  border: 2px solid white;
  border-radius: 4px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  font-family: 'Montserrat', sans-serif;
}

@media only screen and (max-width:800px) {
  form {
    width: 100%;
    padding: 20px;
  }

  input[type=text], input[type=email] {
    display: block;
    width: 100%;
  }

  button[type=submit] {
    display: block;
    margin-left: 0px;
    margin-top: 10px;
    width: 100%;
  }
}