.type-p {
  font-family: serif;
  line-height: 34px;
  max-width: 800px;
  font-size: 26px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 40px;
}

.type--quote {
  font-style: italic;
}