/* line 1, /Users/alasdairmonk/Sites/game/source/stylesheets/slide.scss */
.slide {
  background-color: #000; }

/* line 5, /Users/alasdairmonk/Sites/game/source/stylesheets/slide.scss */
.slide--grouse {
  background-image: url("/images/slide1.jpg"); }
