/* line 1, /Users/alasdairmonk/Sites/game/source/stylesheets/sponsor.scss */
.sponsor__link {
  margin-top: 30px;
  display: inline-block; }

/* line 6, /Users/alasdairmonk/Sites/game/source/stylesheets/sponsor.scss */
.sponsor__link--jameson img {
  width: 140px; }

/* line 10, /Users/alasdairmonk/Sites/game/source/stylesheets/sponsor.scss */
.sponsor__link--uber img {
  width: 140px;
  position: relative;
  top: -16px;
  margin-left: 30px; }

/* line 17, /Users/alasdairmonk/Sites/game/source/stylesheets/sponsor.scss */
.sponsor__link--airbnb img {
  width: 150px;
  position: relative;
  top: -5px;
  margin-left: 30px; }

/* line 24, /Users/alasdairmonk/Sites/game/source/stylesheets/sponsor.scss */
.sponsor__link--lecreuset img {
  width: 200px;
  position: relative;
  top: -5px; }

@media only screen and (max-width: 800px) {
  /* line 31, /Users/alasdairmonk/Sites/game/source/stylesheets/sponsor.scss */
  .sponsor__link--jameson img {
    width: 110px;
    display: block;
    clear: both; }

  /* line 37, /Users/alasdairmonk/Sites/game/source/stylesheets/sponsor.scss */
  .sponsor__link--uber img {
    width: 110px;
    display: block;
    clear: both;
    margin-left: 30px; } }
