/* line 1, /Users/alasdairmonk/Sites/game/source/stylesheets/type.scss */
.type-p {
  font-family: 'Libre Baskerville', serif;
  line-height: 30px;
  max-width: 800px;
  font-size: 18px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 40px; }

/* line 11, /Users/alasdairmonk/Sites/game/source/stylesheets/type.scss */
.type--quote {
  font-style: italic; }

@media only screen and (max-width: 800px) {
  /* line 16, /Users/alasdairmonk/Sites/game/source/stylesheets/type.scss */
  .type-p {
    line-height: 22px;
    font-size: 16px;
    padding: 0px 20px;
    margin-top: 40px; } }
