<section class="fullscreen background slide--grouse" data-img-width="800" data-img-height="800">
    <div class="content-a">
        <div class="content-b">
            <%= image_tag "game-logo.svg", :width => '600px' %>
        </div>
    </div>
</section>

<section class="fullscreen">
    <div class="content-a">
        <div class="content-b">
            <p class="type-p">The idea for the <b>GAME</b> dinner series came from the desire to collaborate on something that James Lowe and Brad McDonald hold very close to their heart: game cookery. For Lowe that's rooted in the table culture of England and his passion and anticipation for eating and cooking game. For McDonald, originally from Mississippi, it's rooted in growing up a hunter and learning how to live off natural surroundings.</p>
            <p class="type-p type--quote">The idea for the GAME dinner series came from the desire to collaborate on something that James Lowe and Brad McDonald hold very close to their heart: game cookery. For Lowe that's rooted in the table culture of England and his passion and anticipation for eating and cooking game. For McDonald, originally from Mississippi, it's rooted in growing up a hunter and learning how to live off natural surroundings.</p>
        </div>
    </div>
</section>

<div class="fullscreen background slide--grouse" data-img-width="1000" data-img-height="1000">
    <div class="content-a">
        <div class="content-b">
          <p class="type-p">The idea for the GAME dinner series came from the desire to collaborate on something that James Lowe and Brad McDonald hold very close to their heart: game cookery. For Lowe that's rooted in the table culture of England and his passion and anticipation for eating and cooking game. For McDonald, originally from Mississippi, it's rooted in growing up a hunter and learning how to live off natural surroundings.</p>
        </div>
    </div>
</div>
